{% extends './base.html' %}
{%load static%}
{% block javascript %}
  <script>
    $(function () {

      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
      $("#id_file").change(function () {
        if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $("#modalCrop").modal("show");
    }
    reader.readAsDataURL(this.files[0]);
  }
      });

      /* SCRIPTS TO HANDLE THE CROPPER BOX */
      var $image = $("#image");
      var cropBoxData;
        var canvasData;
        $("#modalCrop").on("shown.bs.modal", function () {
        $image.cropper({
            viewMode: 1,
            aspectRatio: 1/1,
            minCropBoxWidth: 200,
            minCropBoxHeight: 200,
            autoCropArea: 0.65,
            //to make the crop box fixed size 
           /* strict: false,
            guides: false,
            highlight: false,
            dragCrop: false,
            cropBoxMovable: true,
            cropBoxResizable: false */
            
            ready: function () {
            $image.cropper("setCanvasData", canvasData);
            $image.cropper("setCropBoxData", cropBoxData);
            }
        });
        }).on("hidden.bs.modal", function () {
        cropBoxData = $image.cropper("getCropBoxData");
        canvasData = $image.cropper("getCanvasData");
        $image.cropper("destroy");
        });

        // Enable zoom in button
        $(".js-zoom-in").click(function () {
        $image.cropper("zoom", 0.1);
        });

        // Enable zoom out button
        $(".js-zoom-out").click(function () {
        $image.cropper("zoom", -0.1);
        });
      // ...

      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
      $(".js-crop-and-upload").click(function () {
        var cropData = $image.cropper("getData");
        $("#id_x").val(cropData["x"]);
        $("#id_y").val(cropData["y"]);
        $("#id_height").val(cropData["height"]);
        $("#id_width").val(cropData["width"]);
        $("#formUpload").submit();
      });

    });
  </script>

  {% comment %} <script>
  /* SCRIPT TO UPLOAD VIDEO */
    $('#upload_video').click(function(){
       let files = new FormData($('#frmVideo').get(0));
        files.append('fileName', files);
        console.log(files)  
      $.ajax({
        url: "show_video", 
        type: "POST",
        data: files,
        processData: false,
        contentType: false,
        success: function (data) {
         
    
      }});

    });
  </script> {% endcomment %}


  
{% endblock %}

{% block content %}
  <!-- FORM TO UPLOAD THE IMAGES -->
  <form method="post" enctype="multipart/form-data" id="formUpload">
   <input type="hidden" name="hidden_photo">
     {% csrf_token %}
        {{ form }}
  </form>

 
    <!-- MODAL TO CROP THE IMAGE -->
<div class="modal fade" id="modalCrop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Crop the photo</h4>
      </div>
      <div class="modal-body">
        <img src="" id="image" style="max-width: 100%;">
      </div>
      <div class="modal-footer">
        <div class="btn-group pull-left" role="group">
          <button type="button" class="btn btn-default js-zoom-in">
            <span class="glyphicon glyphicon-zoom-in"></span>
          </button>
          <button type="button" class="btn btn-default js-zoom-out">
            <span class="glyphicon glyphicon-zoom-out"></span>
          </button>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
        <button type="button" class="btn btn-primary js-crop-and-upload">Crop and upload</button>
      </div>
    </div>
  </div>
</div>


  <!-- CONTAINER TO DISPLAY THE CROPPED IMAGES -->
  <div class="row" style="margin-top: 20px">
    {% for photo in photos %}

    <div class="col-sm-4 col-md-3">
          <h6>{{photo.file.name}}</h6>
          <img src="{{ photo.file.url }}" class="thumbnail"/>
    </div>
  {% endfor %}
  </div>

<hr>
<!-- FORM TO UPLOAD VIDEO -->
  <h4>Video Uploader</h4>
  <form enctype="multipart/form-data" method="POST" id="frmVideo">
  <input type="hidden" name="hidden_video">
  {% csrf_token %}
  {{ form1}}
  <button type="submit" id="upload_video" >Upload video</button>
  </form>

  
  
  <div class="row" style="margin-top: 20px">aaa
    
    {% if video %}
    <div class="container">
    <h6>{{video.videofile.name}}</h6>
      <video  width='400' controls="controls">
      <source src='{{video.videofile.url}}' type='video/mp4'>
      Your browser does not support the video tag.
      </video>
    </div>
  {% endif %}
  </div>

{% endblock %}